{% extends "base.html.twig" %}

{% block title %} Profile Edition {% endblock %}
{% block body %}
<div class="row mt-5">
            <div class="col-md-6 offset-md-3">
    <h1>Edit your profile</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <a class="form-control btn btn-warning text-white" href="{{ path('user_password') }}">Edit your password</a>
    </div>

    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">Save</button>
    </div>
    {{ form_end(form)}}


    </div>
    </div>
    <br>
{% endblock %}
