{% extends "base.html.twig" %}

{% block title %} Password Edition {% endblock %}
{% block body %}

    <h1>Edit your password</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="form-control btn btn-primary">Save</button>

    {{ form_end(form)}}

    
    <br>
{% endblock %}